<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-trophy fa-6x fa-color"></i>
        <h1 class="display-3">Rate My Academia</h1>
        <p class="lead">Let us know how you feel about your courses.</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>